*.pyc
/config.json
/cpuvisor-srv/
/limas/
/axes-home/
/axes-research/
/imsearch-tools/
/nginx.conf
/supervisord.conf
/supervisord.log
/supervisord.pid
/supervisord.sock
/start_mongo.sh
/start_nginx.sh
/logs/
/venv/
/cAXESOpen/
/cAXESOpenMini/
/index/
